<script>
    $(document).ready(function () {
        getHistorialDatos();
        cargarPrivilegios();
        cargarZona();
        $('.ui.sidebar')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('setting', 'dimPage', false);
        $('#menuSidebar').sidebar('attach events', '.toc.item');
        $('.ui.dropdown').dropdown();
        $('#cosoChat').popup({
            popup: $('#popup'),
            on: 'click'
        });
        $('#listAgrupacionChat').dropdown({
            onChange: function (value, text, item) {
                alert(value);
            }
        });
    });
</script>
<div class="ui sidebar vertical left inverted menu w3-cerebro-blue" id="menuSidebar">
    <div class="w3-center w3-margin-top"><img src="~/images/cerebro.png" style="height: 30px" class="w3-image"></div>
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <a href="/inicio/inicio"><i class="home big icon circular link"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">@User.Claims.ToList()[0].Value</h3>
        }
        <a class="ui toc item header small" href="/Agrupacion/Agrupacion">Agrupaciones</a>
        <a class="ui toc item header small" href="/Simulador/Simulador">Simulador</a>
        <a class="ui toc item header small active" href="/Reporte/Reporte">Reportes</a>
    </div>
</div>
<div class="ui sidebar very wide vertical right inverted menu" id="mapSidebar">
    <div id="map" style="height: 100%; width: 100%"></div>
</div>
<div class="pusher" style="background-image:url(images/ub1610v2.jpg); background-attachment:fixed; background-size:cover">
    <div class="w3-bar w3-card" style="background-color: #FBFBFB">
        <div class="ui menu secondary" style="background-color: #FBFBFB; padding-bottom: 0px">
            <a class="ui toc item left aligned"><i class="sidebar icon"></i></a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="ui item header right aligned">@User.Claims.ToList()[0].Value</h4>
                    <a class="ui item right aligned w3-right" asp-controller="Account" asp-action="Logout"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
            </div>
        </div>
        <div class="w3-center w3-display-topmiddle" style="margin-top: 7px"><img src="~/images/cerebro-logo.png" class="w3-image" style="height: 35px"></div>
        <div class="ui secondary menu w3-light-gray w3-padding">
            <div class="ui breadcrumb item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">@User.Claims.ToList()[3].Value</h4></div>
                }
                <div class="divider"> <strong>/</strong> </div>
                <div class="active section"><h4 class="ui text header w3-text-silver">Reportes</h4></div>
            </div>
            <div class="right menu"><button class="circular ui icon button" id="cosoChat"><i class="comments icon large w3-text-cerebro-red"></i></button></div>
        </div>
    </div>
    <div class="ui list" id="listaNotificaciones" style="width: 400px; display: inline-block; position: fixed; right: 0px; z-index: 999">
    </div>
    <div class="ui grid stackable container w3-padding w3-padding-16">
        <div class="ui segments raised popup bottom right pointing transition hidden" id="popup" style="max-width: 400px; width: 370px; padding: 0px">
            <div class="ui grey segment" style="padding: 0px">
                <select class="ui basic fluid dropdown" id="listAgrupacionChat" onchange="chatearAgrupacion()">
                    <option value="" selected disabled>Seleccionar agrupaci&oacute;n...</option>
                </select>
            </div>
            <div class="ui grey segment" id="chat" style="height: 400px; background-image: url(images/skulls.png); max-height: 400px; overflow-y: auto">
            </div>
            <div class="ui grey segment secondary">
                <div class="ui icon input" style="width: 100%">
                    <input type="text" id="mensaje" placeholder="Escriba aqu&iacute; su mensaje, precione enter para enviar...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui segment" style="height: 47px">
                        <h4 class="ui header text center aligned w3-text-silver w3-display-middle" style="margin-top: 0px">Dispositivos por tipo</h4>
                        <div class="ui labeled basic compact icon top right pointing dropdown button" id="cosoDropdown" style="margin-top: -14px">
                            <i class="filter icon w3-text-cerebro-red"></i>
                            <span class="ui text header small w3-text-cerebro-blue" style="margin: 0px">Filtrar</span>
                            <div class="menu">
                                <div class="ui header"><i class="calendar icon w3-text-cerebro-blue"></i>fecha</div>
                                <div class="ui icon input">
                                    <i class="search link icon w3-hover-text-cerebro-red" onclick="elegirGrafica()"></i>
                                    <input placeholder="Datos desde..." id="desdeFiltroDatos" type="date">
                                </div>
                                <div class="ui icon input">
                                    <i class="search link icon w3-hover-text-cerebro-red" onclick="elegirGrafica()"></i>
                                    <input placeholder="Datos hasta..." id="hastaFiltroDatos" type="date">
                                </div>
                                <div class="divider"></div>
                                <div class="ui header w3-text-cerebro-blue"><i class="tags icon"></i> tipo</div>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="changeTipoGrafica('Numerico')">Numerico</a>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="changeTipoGrafica('Texto')">Texto</a>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="changeTipoGrafica('Imagen')">Imagen</a>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="changeTipoGrafica('Video')">Video</a>
                            </div>
                        </div>
                        <button class="circular basic ui icon button compact small w3-right" style="margin-top: -7px; margin-right: -5px" onclick="toggleSizeFirst()"><i class="chevron down icon w3-text-cerebro-red"></i></button>
                    </div>
                    <div class="ui segment grey" style="height: 230px" id="graf1"></div>
                    <div class="ui segment grey" style="height: 230px; display: none" id="graf2"></div>
                    <div class="ui segment grey" style="height: 230px; display: none" id="graf3"></div>
                    <div class="ui segment grey" style="height: 230px; display: none" id="graf4"></div>
                </div>
                <div class="ui segments">
                    <div class="ui segment" style="height: 45px">
                        <h4 class="ui header text center aligned w3-text-silver w3-display-middle" style="margin-top: 0px">Eventos por tipo</h4>
                        <div class="ui labeled basic compact icon top right pointing dropdown button" style="margin-top: -14px">
                            <i class="filter icon w3-text-cerebro-red"></i>
                            <span class="ui text header small w3-text-cerebro-blue" style="margin: 0px">Filtrar</span>
                            <div class="menu">
                                <div class="ui header"><i class="calendar icon w3-text-cerebro-blue"></i>fecha</div>
                                <div class="ui icon input">
                                    <i class="search link icon w3-hover-text-cerebro-red" onclick="cargarGraficaEventos()"></i>
                                    <input id="desdeFiltroEvento" placeholder="Eventos desde..." type="text">
                                </div>
                                <div class="ui icon input">
                                    <i class="search link icon w3-hover-text-cerebro-red" onclick="cargarGraficaEventos()"></i>
                                    <input id="hastaFiltroEvento" placeholder="Eventos hasta..." type="text">
                                </div>
                                <a class="item" style="display: none">s</a>
                            </div>
                        </div>
                        <button class="circular basic ui icon button compact small w3-right" style="margin-top: -7px; margin-right: -5px" onClick="toggleSizeSecond()"><i class="chevron down icon w3-text-cerebro-red"></i></button>
                    </div>
                    <div class="ui segment grey" style="height: 230px" id="graf5"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui segments">
                    <div class="ui raised segment" style="height: 40px">
                        <div class="ui menu pointing secondary" style="margin-top: -16px; border-bottom-width: 0px">
                            <a class="active item w3-text-cerebro-red" id="m1" onclick="mostrarReporteDatos()">Historico de Datos</a>
                            <a class="item" id="m2" onclick="mostrarReporteEventos()">Historico de Eventos</a>
                        </div>
                    </div>
                    <div class="ui segment" style="background-color: #FBFBFB; height:55px">
                        <div class="ui labeled basic compact icon top right pointing dropdown button w3-left" style="margin-top: -5px" id="divFiltro1">
                            <i class="filter icon w3-text-cerebro-red"></i>
                            <span class="ui text header small w3-text-cerebro-blue" style="margin: 0px" id="tipoActualTabla">Filtrar</span>
                            <div class="menu">
                                <div class="ui header"><i class="filter icon w3-text-cerebro-blue"></i>t&iacute;tulo</div>
                                <div class="ui icon input">
                                    <input id="dispositivoFiltrar" placeholder="Buscar por dispositivo..." type="text">
                                    <i class="search link icon w3-hover-text-cerebro-red" onclick="getHistorialDatos(1, document.getElementById('tipoActualTabla').innerHTML)"></i>
                                </div>
                                <div class="ui header"><i class="calendar icon w3-text-cerebro-blue"></i>fecha</div>
                                <div class="ui icon input">
                                    <i class="search link icon w3-hover-text-cerebro-red" onclick="getHistorialDatos(1, document.getElementById('tipoActualTabla').innerHTML)"></i>
                                    <input id="desdeFiltroTabla" placeholder="Datos desde..." type="text">
                                </div>
                                <div class="ui icon input">
                                    <i class="search link icon w3-hover-text-cerebro-red" onclick="getHistorialDatos(1, document.getElementById('tipoActualTabla').innerHTML)"></i>
                                    <input id="hastaFiltroTabla" placeholder="Datos hasta..." type="text">
                                </div>
                                <div class="divider"></div>
                                <div class="ui header w3-text-cerebro-blue"><i class="tags icon"></i> tipo</div>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="getHistorialDatos(1,'Numerico')">Numerico</a>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="getHistorialDatos(1, 'Texto')">Texto</a>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="getHistorialDatos(1, 'Imagen')">Imagen</a>
                                <a href="javascript:void(0)" class="item w3-hover-text-cerebro-red" onclick="getHistorialDatos(1, 'Video')">Video</a>
                            </div>
                        </div>
                        <div class="ui labeled basic compact icon top right pointing dropdown button w3-left" style="margin-top: -5px; display:none" id="divFiltro2">
                            <i class="filter icon w3-text-cerebro-red"></i>
                            <span class="ui text header small w3-text-cerebro-blue" style="margin: 0px">Filtrar</span>
                            <div class="menu">
                                <div class="ui header"><i class="filter icon w3-text-cerebro-blue"></i>t&iacute;tulo</div>
                                <div class="ui icon input">
                                    <input id="eventoFiltrar" placeholder="Buscar por dispositivo..." type="text">
                                    <i class="search link icon w3-hover-text-cerebro-red"></i>
                                </div>
                                <div class="ui header"><i class="calendar icon w3-text-cerebro-blue"></i>fecha</div>
                                <div class="ui icon input">
                                    <i onclick="getHistorialEventos(1)" class="search link icon w3-hover-text-cerebro-red"></i>
                                    <input id="desdeFiltroTabla2" placeholder="Datos desde..." type="text">
                                </div>
                                <div class="ui icon input">
                                    <i onclick="getHistorialEventos(1)" class="search link icon w3-hover-text-cerebro-red"></i>
                                    <input id="hastaFiltroTabla2" placeholder="Datos hasta..." type="text">
                                </div>
                                <a class="item" style="display: none">s</a>
                            </div>
                        </div>
                        <button class="ui icon button w3-text-cerebro-red w3-right" id="mapButton" style="margin-top:-5px" onclick="mostrarMapSidebar()" data-tooltip="Filtrar por Ubicaci&oacute;n"><i class="ui marker icon"></i></button>
                    </div>
                    <div class="ui grey segment" style="padding: 0px" id="tabla1">
                        <table class="ui celled striped table" style="width: 100%">
                            <thead class="full-width">
                                <tr>
                                    <th width="20%" class="ui text header small w3-text-cerebro-blue">Dispositivo</th>
                                    <th width="10%" class="ui text header small w3-text-cerebro-blue">Tipo</th>
                                    <th width="10%" class="ui text header small w3-text-cerebro-blue">Fecha</th>
                                    <th width="10%" class="ui text header small w3-text-cerebro-blue">Hora</th>
                                    <th width="50%" class="ui text header small w3-text-cerebro-blue">Contenido</th>
                                </tr>
                            </thead>
                            <tbody id="datosTableBody"></tbody>
                        </table>
                    </div>
                    <div class="ui grey segment" style="padding: 0px; display:none" id="tabla2">
                        <table class="ui celled table" style="width: 100%">
                            <thead class="full-width">
                                <tr>
                                    <th width="80%" class="ui text header small w3-text-cerebro-blue">Evento</th>
                                    <th width="10%" class="ui text header small w3-text-cerebro-blue">Fecha</th>
                                    <th width="10%" class="ui text header small w3-text-cerebro-blue">Hora</th>
                                </tr>
                            </thead>
                            <tbody id="eventosTableBody"></tbody>
                        </table>
                    </div>
                    <div class="ui right aligned segment w3-light-gray" style="height:60px">
                        <div class="ui container">
                            <div class="ui right pagination horizontal menu small pointing w3-right" style="margin-top: -5px; width: 125px; height: 40px" id="pagination1">
                                <a onclick="cargarResultadosAnteriores_datos()" class="icon item w3-left"><i class="left chevron icon w3-text-cerebro-red"></i></a>
                                <span class="ui item header small w3-text-cerebro-blue w3-left" style="width:45px" id="paginaActual">1</span>
                                <a class="icon item w3-right" onclick="cargarResultadosSiguientes_datos()"><i class="right chevron icon w3-text-cerebro-red"></i></a>
                            </div>
                            <div class="ui right pagination menu small pointing w3-right" style="display:none; width: 125px; margin-top: -5px; height: 40px" id="pagination2">
                                <a onclick="cargarResultadosAnteriores_eventos()" class="icon item w3-left"><i class="left chevron icon w3-text-cerebro-red"></i></a>
                                <span class="ui item header small w3-text-cerebro-blue w3-left" style="width:45px" id="paginaActualEvento">1</span>
                                <a class="icon item w3-right" onclick="cargarResultadosSiguientes_eventos()"><i class="right chevron icon w3-text-cerebro-red"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p style="display:none" id="agrActual"></p>
<script>
    var email = '@User.Claims.ToList()[0].Value';
    var municipalidad = '@User.Claims.ToList()[3].Value';
    var dispositivos;
    var chartNumerico;
    var chartImagen;
    var chartVideo;
    var chartTexto;
    var chartEventos;
    var zonas;
    var privilegios = [];
    var map;
    var draw;
    var source;
    var fea;
    var dispositivosMuniMapa;
    Highcharts.setOptions({ global: { useUTC: false } });
    $(document).ready(function () {
        "use strict";
        cargarGraficaDatosNumericos();
        cargarGraficaEventos();
        getHistorialDatos(1);
        getAgrupacionesByUsuario();
        var pusher = new Pusher('474881b81d9d92dd2713', { encrypted: true });
        var channel = pusher.subscribe("datos-dispositivos");
        channel.bind('dato-nuevo', function (dato) {
            if (dato.tipoDeDato.toLowerCase() === "numerico") {
                $.each(chartNumerico.series, function (index, serie) {
                    if (serie.name === dato.nombre) {
                        var datetime = dato.datetime;
                        var fecha = datetime.slice(0, datetime.indexOf("T"));
                        var hora = datetime.slice((datetime.indexOf("T") + 1), datetime.indexOf("."));
                        var x = fecha + " " + hora;
                        var y = parseFloat(dato.medida);
                        serie.addPoint([x, y]);
                    }
                });
            } else if (dato.tipoDeDato.toLowerCase() === "imagen") {
                $.each(chartImagen.series, function (index, serie) {
                    if (serie.name === dato.nombre) {
                        var datetime = dato.datetime;
                        var fecha = datetime.slice(0, datetime.indexOf("T"));
                        var hora = datetime.slice((datetime.indexOf("T") + 1), datetime.indexOf("."));
                        var x = fecha + " " + hora;
                        var y = parseFloat(dato.medida);
                        serie.addPoint([x, y]);
                    }
                });
            } else if (dato.tipoDeDato.toLowerCase() === "video") {
                $.each(chartVideo.series, function (index, serie) {
                    if (serie.name === dato.nombre) {
                        var datetime = dato.datetime;
                        var fecha = datetime.slice(0, datetime.indexOf("T"));
                        var hora = datetime.slice((datetime.indexOf("T") + 1), datetime.indexOf("."));
                        var x = fecha + " " + hora;
                        var y = parseFloat(dato.medida);
                        serie.addPoint([x, y]);
                    }
                });
            } else {
                var serie = chartTexto.get(dato.dispositivoId);
                if (serie !== undefined) {
                    var y = serie.data[0].y + 1;
                    serie.data[0].update(y);
                }
            }
        });
        channel.bind('evento-nuevo', function (data) {
            alert(data.eventoId);
            var serie = chartEventos.get(data.eventoId);
            if (serie !== undefined) {
                var y = serie.data[0].y + 1;
                serie.data[0].update(y);
            }
            var count = 0;
            $.each(data.privilegios, function (index, priv) {
                $.each(privilegios, function (index, pr) {
                    if (pr == priv) {
                        count++;
                    }
                });
            });
            if (count == data.privilegios.length) {
                var b = false;
                $.each(zonas, function (index, zona) {
                    var tmp = zona.ubicacion.toString().split(",");
                    var array = [];
                    var j = 0;
                    for (var i = 0; i < (tmp.length / 2); i++) {
                        var arraryTmp = [];
                        arraryTmp[0] = tmp[j]
                        arraryTmp[1] = tmp[j + 1];
                        array[i] = arraryTmp;
                        j++;
                        j++;
                    }
                    var polygon = new ol.geom.Polygon([array]);
                    var featurePolygon = new ol.Feature(polygon);
                    var countPoint = 0;
                    $.each(data.geom, function (index, dt2) {
                        var point = new ol.geom.Point(dt2);
                        var featurePoint = new ol.Feature(point);
                        var format = new ol.format.GeoJSON();
                        var geojsonReader = new jsts.io.GeoJSONReader();
                        var polygon1Jsts = geojsonReader.read(
                            format.writeFeatureObject(featurePolygon)).geometry;
                        var polygon2Jsts = geojsonReader.read(
                            format.writeFeatureObject(featurePoint)).geometry;
                        if (polygon1Jsts.contains(polygon2Jsts)) {
                            countPoint++;
                        }
                    });
                    if (countPoint == data.geom.length) {
                        b = true;
                    }
                    countPoint = 0;
                });
                if (b) {
                    var item = document.createElement("div");
                    item.className = "item";
                    var message = document.createElement("div");
                    message.className = "ui icon message info w3-animate-right";
                    var i1 = document.createElement("i");
                    i1.className = "info icon left aligned w3-left";
                    message.appendChild(i1);
                    var i2 = document.createElement("i");
                    i2.className = "close icon";
                    message.appendChild(i2);
                    i2.addEventListener("click", function () {
                        document.getElementById("listaNotificaciones").removeChild(item);
                    });
                    var content = document.createElement("div");
                    content.className = "content";
                    var h3 = document.createElement("h3");
                    h3.className = "ui header w3-margin-right";
                    h3.style.marginTop = "4px";
                    h3.innerHTML = "Se ha registrado el evento: ";
                    var span = document.createElement("span");
                    span.className = "w3-text-cerebro-red";
                    span.innerHTML = data.nombre;
                    h3.appendChild(span);
                    var p = document.createElement("p");
                    p.className = "ui sub header large";
                    var dateTime = data.fechaHora.split("T");
                    var hora = dateTime[1].split(":")[0] + ":" + dateTime[1].split(":")[1];
                    p.innerHTML = hora;
                    content.appendChild(h3);
                    content.appendChild(p);
                    message.appendChild(content);
                    item.appendChild(message);
                    document.getElementById("listaNotificaciones").insertBefore(item, document.getElementById("listaNotificaciones").firstChild);
                }
            }
        });
        var raster = new ol.layer.Tile({ source: new ol.source.OSM() });
        source = new ol.source.Vector({ wrapX: false });
        var vector = new ol.layer.Vector({ source: source });
        map = new ol.Map({
            layers: [raster, vector],
            target: 'map',
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [-56.22540901390569, -34.86341907811338],
                zoom: 10
            })
        });

        var features = new ol.Collection();
        draw = new ol.interaction.Draw({
            source: source,
            features: features,
            type: "Polygon"
        });

        var modifyInteraction = new ol.interaction.Modify({ features: features });

        draw.on('drawend', function (evt) {
            fea = evt.feature;
            var listDis = [];
            $.each(dispositivosMuniMapa, function (index, dispo) {
                var point = new ol.geom.Point([dispo.ubicacion[0], dispo.ubicacion[1]]);
                var featurePoint = new ol.Feature(point);

                var format = new ol.format.GeoJSON();
                var geojsonReader = new jsts.io.GeoJSONReader();

                var polygon1Jsts = geojsonReader.read(
                    format.writeFeatureObject(evt.feature)).geometry;
                var polygon2Jsts = geojsonReader.read(
                    format.writeFeatureObject(featurePoint)).geometry;

                if (polygon1Jsts.contains(polygon2Jsts)) {
                    listDis[listDis.length] = dispo.Id;
                }
            });
            map.removeInteraction(draw);
            map.addInteraction(modifyInteraction);
        }, this);

        modifyInteraction.on('modifyend', function (evt) {
            var listDis = [];
            $.each(dispositivosMuniMapa, function (index, dispo) {
                var point = new ol.geom.Point([dispo.ubicacion[0], dispo.ubicacion[1]]);
                var featurePoint = new ol.Feature(point);

                var format = new ol.format.GeoJSON();
                var geojsonReader = new jsts.io.GeoJSONReader();

                var polygon1Jsts = geojsonReader.read(
                    format.writeFeatureObject(fea)).geometry;
                var polygon2Jsts = geojsonReader.read(
                    format.writeFeatureObject(featurePoint)).geometry;

                if (polygon1Jsts.contains(polygon2Jsts)) {
                    listDis[listDis.length] = dispo.Id;
                }
            });
        });
    });
    function mostrarMapSidebar() {
        source.clear();
        map.addInteraction(draw);
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/muniUsu?muni=" + municipalidad + "&email=" + email, function (res) {
            dispositivosMuniMapa = res;
        });
        $('#mapSidebar').sidebar('show');
    }
    function mostrarReporteDatos() {
        getHistorialDatos();
        document.getElementById("tabla2").style.display = "none";
        document.getElementById("tabla1").style.display = "block";
        document.getElementById("m1").className = "active item w3-text-cerebro-red";
        document.getElementById("m2").className = "item";
        document.getElementById("divFiltro1").style.display = "block";
        document.getElementById("divFiltro2").style.display = "none";
        document.getElementById("pagination1").style.display = "block";
        document.getElementById("pagination2").style.display = "none";
        document.getElementById("mapButton").style.display = "block";
    }
    function mostrarReporteEventos() {
        getHistorialEventos();
        document.getElementById("tabla2").style.display = "block";
        document.getElementById("tabla1").style.display = "none";
        document.getElementById("m2").className = "active item w3-text-cerebro-red";
        document.getElementById("m1").className = "item";
        document.getElementById("divFiltro1").style.display = "none";
        document.getElementById("divFiltro2").style.display = "block";
        document.getElementById("pagination1").style.display = "none";
        document.getElementById("pagination2").style.display = "block";
        document.getElementById("mapButton").style.display = "none";
    }
    function cargarResultadosSiguientes_datos() {
        if (document.getElementById("datosTableBody").childNodes.length > 0) {
            getHistorialDatos((Number(document.getElementById("paginaActual").innerHTML) + 1), document.getElementById("tipoActualTabla").innerHTML);
            document.getElementById("paginaActual").innerHTML = (Number(document.getElementById("paginaActual").innerHTML) + 1).toString();
        }
    }
    function cargarResultadosAnteriores_datos() {
        var paginaActual = Number(document.getElementById("paginaActual").innerHTML);
        if (paginaActual > 1) {
            getHistorialDatos((paginaActual - 1), document.getElementById("tipoActualTabla").innerHTML);
            document.getElementById("paginaActual").innerHTML = (paginaActual - 1).toString();
        }
    }
    function cargarResultadosSiguientes_eventos() {
        if (document.getElementById("datosTableBody").childNodes.length > 0) {
            getHistorialEventos((Number(document.getElementById("paginaActualEvento").innerHTML) + 1));
            document.getElementById("paginaActualEvento").innerHTML = (Number(document.getElementById("paginaActualEvento").innerHTML) + 1).toString();
        }
    }
    function cargarResultadosAnteriores_eventos() {
        var paginaActual = Number(document.getElementById("paginaActualEvento").innerHTML);
        if (paginaActual > 1) {
            getHistorialEventos((paginaActual - 1));
            document.getElementById("paginaActualEvento").innerHTML = (paginaActual - 1).toString();
        }
    }
    function changeTipoGrafica(tipo) {
        if (tipo.toLowerCase() === "numerico") {
            cargarGraficaDatosNumericos();
            document.getElementById("graf1").style.display = "block";
            document.getElementById("graf2").style.display = "none";
            document.getElementById("graf3").style.display = "none";
            document.getElementById("graf4").style.display = "none";
        }
        else if (tipo.toLowerCase() === "imagen") {
            cargarGraficaDatosImagen();
            document.getElementById("graf1").style.display = "none";
            document.getElementById("graf2").style.display = "block";
            document.getElementById("graf3").style.display = "none";
            document.getElementById("graf4").style.display = "none";
        }
        else if (tipo.toLowerCase() === "video") {
            cargarGraficaDatosVideo();
            document.getElementById("graf1").style.display = "none";
            document.getElementById("graf2").style.display = "none";
            document.getElementById("graf3").style.display = "block";
            document.getElementById("graf4").style.display = "none";
        }
        else if (tipo.toLowerCase() === "texto") {
            cargarGraficaDatosTexto();
            document.getElementById("graf1").style.display = "none";
            document.getElementById("graf2").style.display = "none";
            document.getElementById("graf3").style.display = "none";
            document.getElementById("graf4").style.display = "block";
        }
    }
    function elegirGrafica() {
        if (document.getElementById("graf1").style.display === "block") {
            cargarGraficaDatosNumericos();
        }
        else if (document.getElementById("graf2").style.display === "block") {
            cargarGraficaDatosImagen();
        }
        else if (document.getElementById("graf3").style.display === "block") {
            cargarGraficaDatosVideo();
        }
        else if (document.getElementById("graf4").style.display === "block") {
            cargarGraficaDatosTexto();
        }
    }
    function getHistorialDatos(pagina, tipo) {
        if (pagina === undefined) {
            pagina = 1;
        }
        if (tipo === undefined) {
            tipo = "Numerico";
        }
        if (tipo === "Filtrar") {
            tipo = "Numerico";
        }
        var dispositivo = document.getElementById("dispositivoFiltrar").value;
        var desde = document.getElementById("desdeFiltroTabla").value;
        var hasta = document.getElementById("hastaFiltroTabla").value;
        $.get("https://www.cerebro-serviceLayer.com/api/historial/datos", "tipoDato=" + tipo + "&dispositivo=" + dispositivo + "&pagina=" + pagina + "&municipalidad=" + municipalidad + "&desde=" + desde + "&hasta=" + hasta, function (response) {
            if (response !== undefined) {
                while (document.getElementById("datosTableBody").hasChildNodes()) {
                    document.getElementById("datosTableBody").removeChild(document.getElementById("datosTableBody").lastChild);
                }
                $.each(response, function (index, dispositivo) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerHTML = dispositivo.nombre;
                    tr.appendChild(td1);
                    var td2 = document.createElement("td");
                    td2.innerHTML = dispositivo.tipoDeDato;
                    tr.appendChild(td2);
                    var datetime = dispositivo.datetime;
                    var fecha = datetime.slice(0, datetime.indexOf("T"));
                    var td3 = document.createElement("td");
                    td3.innerHTML = datetime.slice(0, datetime.indexOf("T"));
                    tr.appendChild(td3);
                    var td4 = document.createElement("td");
                    td4.innerHTML = datetime.slice((datetime.indexOf("T") + 1), datetime.indexOf("."));
                    tr.appendChild(td4);
                    var td5 = document.createElement("td");
                    td5.innerHTML = dispositivo.medida;
                    tr.appendChild(td5);
                    document.getElementById("datosTableBody").appendChild(tr);
                });
            }
        });
    }
    function getHistorialEventos(pagina) {
        if (pagina === undefined) {
            pagina = 1;
        }
        var evento = document.getElementById("eventoFiltrar").value;
        var desde = document.getElementById("desdeFiltroTabla2").value;
        var hasta = document.getElementById("hastaFiltroTabla2").value;
        $.get("https://www.cerebro-serviceLayer.com/api/historial/eventos", "evento=" + evento + "&pagina=" + pagina + "&municipalidad=" + municipalidad + "&desde=" + desde + "&hasta=" + hasta, function (response) {
            if (response !== undefined) {
                while (document.getElementById("eventosTableBody").hasChildNodes()) {
                    document.getElementById("eventosTableBody").removeChild(document.getElementById("eventosTableBody").lastChild);
                }
                $.each(response, function (index, evento) {
                    var tr = document.createElement("tr");
                    var td1 = document.createElement("td");
                    td1.innerHTML = evento.nombre;
                    tr.appendChild(td1);
                    var datetime = evento.datetime;
                    var fecha = datetime.slice(0, datetime.indexOf("T"));
                    var td3 = document.createElement("td");
                    td3.innerHTML = datetime.slice(0, datetime.indexOf("T"));
                    tr.appendChild(td3);
                    var td4 = document.createElement("td");
                    td4.innerHTML = datetime.slice((datetime.indexOf("T") + 1), datetime.indexOf("."));
                    tr.appendChild(td4);
                    document.getElementById("eventosTableBody").appendChild(tr);
                });
            }
        });
    }
    function cargarGraficaDatosNumericos() {
        var options = {
            chart: {
                renderTo: 'graf1',
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            title: { text: '' },
            yAxis: { title: { text: 'Medida Obtenida' } },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top'
            },
            series: []
        };
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/municipalidad/" + municipalidad + "/numerico", function (response) {
            if (response !== undefined) {
                $.each(response, function (index, d) {
                    var newSerie = {
                        name: d.nombre,
                        id: d.Id,
                        data: [{}]
                    };
                    options.series.push(newSerie);
                });
                chartNumerico = new Highcharts.Chart(options);
                var desde = document.getElementById("desdeFiltroDatos").value;
                var hasta = document.getElementById("hastaFiltroDatos").value;
                $.each(chartNumerico.series, function (index, serie) {
                    $.get("https://www.cerebro-serviceLayer.com/api/historial/datos?tipoDato=Numerico&pagina=1&dispositivo=" + serie.name + "&municipalidad=" + municipalidad + "&desde=" + desde + "&hasta=" + hasta, function (response) {
                        if (response !== undefined) {
                            $.each(response, function (index, dato) {
                                var x = Highcharts.dateFormat('%Y-%m-%d %H:%M', new Date(dato.datetime));
                                var y = parseFloat(dato.medida);
                                serie.addPoint([x, y]);
                            });
                        }
                    });
                });
            }
        });
    }
    function cargarGraficaDatosImagen() {
        var options = {
            chart: {
                renderTo: 'graf2',
                type: 'spline',
                animation: Highcharts.svg,
                marginRight: 10
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            title: { text: '' },
            yAxis: { title: { text: 'Medida Obtenida' } },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top'
            },
            series: []
        };
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/municipalidad/" + municipalidad + "/Imagen", function (response) {
            if (response !== undefined) {
                $.each(response, function (index, d) {
                    var newSerie = {
                        name: d.nombre,
                        id: d.Id,
                        data: [{}]
                    };
                    options.series.push(newSerie);
                });
                chartImagen = new Highcharts.Chart(options);
                var desde = document.getElementById("desdeFiltroDatos").value;
                var hasta = document.getElementById("hastaFiltroDatos").value;
                $.each(chartImagen.series, function (index, serie) {
                    $.get("https://www.cerebro-serviceLayer.com/api/historial/datos?tipoDato=Imagen&pagina=1&dispositivo=" + serie.name + "&municipalidad=" + municipalidad + "&desde=" + desde + "&hasta=" + hasta, function (response) {
                        if (response !== undefined) {
                            $.each(response, function (index, dato) {
                                var datetime = dato.datetime;
                                var fecha = datetime.slice(0, datetime.indexOf("T"));
                                var hora = datetime.slice((datetime.indexOf("T") + 1), datetime.indexOf("."));
                                var x = fecha + " " + hora;
                                var y = parseFloat(dato.medida);
                                serie.addPoint([x, y]);
                            });
                        }
                    });
                });
            }
        });
    }
    function cargarGraficaDatosVideo() {
        var options = {
            chart: {
                renderTo: 'graf3',
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            title: { text: '' },
            yAxis: { title: { text: 'Medida Obtenida' } },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top'
            },
            series: []
        };
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/municipalidad/" + municipalidad + "/Video", function (response) {
            if (response !== undefined) {
                $.each(response, function (index, d) {
                    var newSerie = {
                        name: d.nombre,
                        id: d.Id,
                        data: [{}]
                    };
                    options.series.push(newSerie);
                });
                chartVideo = new Highcharts.Chart(options);
                var desde = document.getElementById("desdeFiltroDatos").value;
                var hasta = document.getElementById("hastaFiltroDatos").value;
                $.each(chartVideo.series, function (index, serie) {
                    $.get("https://www.cerebro-serviceLayer.com/api/historial/datos?tipoDato=Video&pagina=1&dispositivo=" + serie.name + "&municipalidad=" + municipalidad + "&desde=" + desde + "&hasta=" + hasta, function (response) {
                        if (response !== undefined) {
                            $.each(response, function (index, dato) {
                                //var x = Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', (new Date()).getTime());
                                var datetime = dato.datetime;
                                var fecha = datetime.slice(0, datetime.indexOf("T"));
                                var hora = datetime.slice((datetime.indexOf("T") + 1), datetime.indexOf("."));
                                var x = fecha + " " + hora;
                                var y = parseFloat(dato.medida);
                                serie.addPoint([x, y]);
                            });
                        }
                    });
                });
            }
        });
    }
    function cargarGraficaDatosTexto() {
        var options = {
            chart: {
                renderTo: 'graf4',
                type: 'column',
                animation: Highcharts.svg,
                marginRight: 10
            },
            title: { text: '' },
            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                    }
                }
            },
            credits: { enabled: false },
            legend: {
                align: 'center',
                verticalAlign: 'bottom',
                layout: 'horizontal'
            },
            xAxis: {
                categories: ['Dispositivos'],
                labels: { x: 0 }
            },
            yAxis: {
                allowDecimals: false,
                title: { text: 'Cantidad Enviada' }
            },
            series: []
        };
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/municipalidad/" + municipalidad + "/Texto", function (response) {
            if (response !== undefined) {
                $.each(response, function (index, d) {
                    var newSerie = {
                        name: d.nombre,
                        id: d.Id,
                        data: [{}]
                    };
                    options.series.push(newSerie);
                });
                chartTexto = new Highcharts.Chart(options);
                var desde = document.getElementById("desdeFiltroDatos").value;
                var hasta = document.getElementById("hastaFiltroDatos").value;
                $.each(chartTexto.series, function (index, serie) {
                    $.get("https://www.cerebro-serviceLayer.com/api/historial/datos/total?dispositivo=" + serie.options.id + "&desde=" + desde + "&hasta=" + hasta, function (response) {
                        if (response !== undefined) {
                            serie.setData([response]);
                        }
                    });
                });
            }
        });
    }
    function cargarGraficaEventos() {
        var options = {
            chart: {
                renderTo: 'graf5',
                type: 'column',
                animation: Highcharts.svg,
                marginRight: 10
            },
            title: { text: '' },
            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black'
                    }
                }
            },
            credits: { enabled: false },
            legend: {
                align: 'center',
                verticalAlign: 'bottom',
                layout: 'horizontal'
            },
            xAxis: {
                categories: ['Tipos de Evento'],
                labels: { x: 0 }
            },
            yAxis: {
                allowDecimals: false,
                title: { text: 'Cantidad Registrados' }
            },
            series: []
        };
        $.get("https://www.cerebro-serviceLayer.com/api/eventos/muni/" + municipalidad, function (response) {
            if (response !== undefined) {
                $.each(response, function (index, d) {
                    var newSerie = {
                        name: d.nombre,
                        id: d.Id,
                        data: [{}]
                    };
                    options.series.push(newSerie);
                });
                chartEventos = new Highcharts.Chart(options);
                var desde = document.getElementById("desdeFiltroEvento").value;
                var hasta = document.getElementById("hastaFiltroEvento").value;
                $.each(chartEventos.series, function (index, serie) {
                    $.get("https://www.cerebro-serviceLayer.com/api/historial/eventos/total?evento=" + serie.options.id + "&desde=" + desde + "&hasta=" + hasta, function (response) {
                        if (response !== undefined) {
                            serie.setData([response]);
                        }
                    });
                });
            }
        });
    }
    function toggleSizeFirst() {
        if (document.getElementById('graf1').style.height === "230px") {
            document.getElementById('graf1').style.height = "450px";
            document.getElementById('graf2').style.height = "450px";
            document.getElementById('graf3').style.height = "450px";
            document.getElementById('graf4').style.height = "450px";
        } else {
            document.getElementById('graf1').style.height = "230px";
            document.getElementById('graf2').style.height = "230px";
            document.getElementById('graf3').style.height = "230px";
            document.getElementById('graf4').style.height = "230px";
        }
        chartNumerico.setSize(undefined, null);
        chartTexto.setSize(undefined, null);
        chartImagen.setSize(undefined, null);
        chartVideo.setSize(undefined, null);
        chartNumerico.redraw();
        chartTexto.redraw();
        chartImagen.redraw();
        chartVideo.redraw();
    }
    function toggleSizeSecond() {
        if (document.getElementById('graf5').style.height === "230px") {
            document.getElementById('graf5').style.height = "450px";
        } else {
            document.getElementById('graf5').style.height = "230px";
        }
        chartEventos.setSize(undefined, null);
        chartEventos.redraw();
    }
    function getAgrupacionesByUsuario() {
        if (email !== ""){
            $.get("https://www.cerebro-serviceLayer.com/api/agrupaciones/byUsuario?usuario_email=" + email, function (response) {
                if (response !== undefined) {
                    while (document.getElementById("listAgrupacionChat").hasChildNodes()) {
                        document.getElementById("listAgrupacionChat").removeChild(document.getElementById("listAgrupacionChat").lastChild);
                    }
                    $.each(response, function (index, agrupacion) {
                        var option = document.createElement("option");
                        option.innerHTML = agrupacion;
                        option.value = agrupacion;
                        document.getElementById("listAgrupacionChat").appendChild(option);
                    });
                    var option2 = document.createElement("option");
                    option2.innerHTML = "Seleccionar agrupaci&oacute;n...";
                    option2.value = "";
                    option2.selected = true;
                    option2.disabled = true;
                    document.getElementById("listAgrupacionChat").appendChild(option2);
                }
            });
        }
    }
    function cargarPrivilegios() {
        $.get("https://www.cerebro-servicelayer.com/api/usuarios/privilegiosUsu?email=" + email + "&muni=" + municipalidad, function (res) {
            for (var i = 0; i < res.length; i++) {
                privilegios[privilegios.length] = res[i].Privilegio_nombre;
            }
        });
    }

    function cargarZona() {
        $.get("https://www.cerebro-serviceLayer.com/api/usuarios/zonas?email=" + email + "&muni=" + municipalidad, function (response) {
            if (response !== undefined) {
                zonas = response;
            }
        });
    }
    
    var pusher2 = new Pusher('5b358aae693e596e8b06', { encrypted: true, cluster: "us2" });
    function chatearAgrupacion() {
        var agrupacion = document.getElementById("listAgrupacionChat").value;
        var channel = pusher2.subscribe(agrupacion);
        while (document.getElementById("chat").hasChildNodes()) {
            document.getElementById("chat").removeChild(document.getElementById("chat").lastChild);
        }
        channel.bind('mensaje-nuevo', function (data) {
            var e = JSON.stringify(data);
            var x = JSON.parse(e);
            if (x.email !== email) {
                var ele1 = document.createElement("div");
                ele1.className = 'w3-row w3-left w3-margin-bottom w3-left';
                ele1.style.width = "85%";
                var ele2 = document.createElement("div");
                ele2.className = 'ui left pointing label w3-left fluid w3-white raised segment';
                ele2.style.padding = "7px";
                ele1.appendChild(ele2);
                var ele3 = document.createElement("div");
                ele3.className = 'w3-row w3-small';
                var span1 = document.createElement("span");
                span1.className = "w3-text-cerebro-red ui header text small";
                span1.innerHTML = x.autor;
                ele3.appendChild(span1);
                var span2 = document.createElement("span");
                span2.className = "w3-right w3-text-grey";
                var fecha = x.datetime.toString().split('T', 2);
                var fecha2 = fecha[1].split(".", 2);
                span2.innerHTML = fecha2[0];
                ele3.appendChild(span2);
                ele2.appendChild(ele3);
                var ele4 = document.createElement("div");
                ele4.className = 'w3-row';
                ele4.style.marginBottom = "3px";
                ele4.style.marginTop = "7px";
                ele4.textContent = x.mensaje;
                ele2.appendChild(ele4);
                document.getElementById("chat").appendChild(ele1);
            } else {
                var ele1 = document.createElement("div");
                ele1.className = 'w3-row w3-left w3-margin-bottom w3-right';
                ele1.style.width = "85%";
                var ele2 = document.createElement("div");
                ele2.className = 'ui right pointing label w3-right w3-pale-green fluid raised segment';
                ele2.style.padding = "7px";
                ele1.appendChild(ele2);
                var ele3 = document.createElement("div");
                ele3.className = 'w3-row w3-small';
                var span2 = document.createElement("span");
                span2.className = "w3-right w3-text-grey";
                var fecha = x.datetime.toString().split('T', 2);
                var fecha2 = fecha[1].split(".", 2);
                span2.innerHTML = fecha2[0];
                ele3.appendChild(span2);
                ele2.appendChild(ele3);
                var ele4 = document.createElement("div");
                ele4.className = 'w3-row ui header text small';
                ele4.style.marginBottom = "3px";
                ele4.style.marginTop = "7px";
                ele4.textContent = x.mensaje;
                ele2.appendChild(ele4);
                document.getElementById("chat").appendChild(ele1);
            }
        });
    }
    $("#mensaje").on('keyup', function (e) {
        if (e.keyCode == 13) {
            var agrupacion = document.getElementById("listAgrupacionChat").value;
            if (agrupacion !== ""){
                $.post("https://www.cerebro-serviceLayer.com/api/chats?agrupacion=" + agrupacion +"&autor=" + '@User.Claims.ToList()[1].Value' + "&mensaje=" + document.getElementById("mensaje").value + "&email=" + email, function (response) {
                    document.getElementById("mensaje").value = "";
                });
            }
        }
    });
</script>