<script>
        $(document).ready(function () {
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
                .sidebar('setting', 'transition', 'overlay')
                .sidebar('setting', 'dimPage', false);
            $('.ui.dropdown').dropdown('setting', 'allowAdditions', true);
        });
</script>
<div class="ui sidebar vertical left inverted menu w3-cerebro-blue">
    <div class="w3-center w3-margin-top"><img src="~/images/cerebro.png" style="height: 30px" class="w3-image"></div>
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <a href="/inicio/inicio"><i class="home big icon circular link"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">@User.Claims.ToList()[0].Value</h3>
        }
        else
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">Usuario</h3>
        }
        <a class="ui toc item header small" href="/Chat/Chat">Chat</a>
        <a class="ui toc item header small" href="/Agrupacion/Agrupacion">Agrupaciones</a>
        <a class="ui toc item header small" href="/Simulador/Simulador">Simulador</a>
        <a class="ui toc item header small">Reportes</a>
    </div>
</div>
<div class="pusher" style="background-image: url(img/ub1610v2.jpg); background-attachment: fixed; background-repeat: no-repeat; background-position: right; background-size: cover">
    <div class="w3-bar w3-card" style="background-color: #FBFBFB">
        <div class="ui menu secondary" style="background-color: #FBFBFB; padding-bottom: 0px">
            <a class="ui toc item left aligned"><i class="sidebar icon"></i></a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="ui item header right aligned">@User.Claims.ToList()[0].Value</h4>
                    <a class="ui item right aligned w3-right" asp-controller="Account" asp-action="Logout"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
                else
                {
                    <h4 class="ui item header right aligned">Usuario</h4>
                    <a class="ui item right aligned w3-right"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
            </div>
        </div>
        <div class="w3-center w3-display-topmiddle" style="margin-top: 7px"><img src="~/images/cerebro-logo.png" class="w3-image" style="height: 35px"></div>
        <div class="ui secondary menu w3-light-gray w3-padding">
            <div class="ui breadcrumb item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">@User.Claims.ToList()[3].Value</h4></div>
                }
                else
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">Municipalidad</h4></div>
                } 
                <div class="divider"> <strong>/</strong> </div>
                <div class="active section"><h4 class="ui text header w3-text-silver">Inicio</h4></div>
            </div>
        </div>
    </div>
    <div class="ui grid stackable container w3-padding w3-padding-16">
        <div class="ui active dimmer" style="display: none" id="dimmer">
            <div class="ui text loader" id="loading" style="display: none">Por favor espere...</div>
            <div class="w3-display-middle" id="exito" style="display: none">
                <img src="~/images/success.svg" style="height: 45px"><br>
                <h4 style="color: white">La Solicitud ha sido aceptada con exito!</h4>
                <button class="ui secondary button green w3-center" onclick="ocultarMensajes()">Aceptar</button>
            </div>
            <div class="w3-display-middle" id="error" style="display: none">
                <img src="~/images/error.svg" style="height: 45px"><br>
                <h4 style="color: white">Ha ocurrido un error, y no se podido aceptar la solicitud.<br>Por favor vuelve a intentar</h4>
                <button class="ui secondary button green w3-center" onclick="ocultarMensajes()">Aceptar</button>
            </div>
            <div class="w3-display-middle" id="warning" style="display: none">
                <img src="~/images/warning.svg" style="height: 45px"><br>
                <h4 style="color: white" id="precioAceptar"></h4>
                <button class="ui inverted red button w3-center" onclick="ocultarMensajes()">Salir</button>
                <button class="ui inverted green button w3-center" onclick="aceptarSolicitud()">Confirmar</button>
            </div>
        </div>
        <div class="row" id="goyete">
            <div class="ui grid stackable container">
                <div class="six wide column w3-padding-64">
                    <div class="ui segments">
                        <div class="ui segment sticky" style="background-color: #FBFBFB; height: 40px">
                            <div class="ui two item menu pointing secondary" style="margin-top: -14px">
                                <a class="active item w3-text-cerebro-red">Dispositivos</a>
                                <a class="item">Suscripciones</a>
                            </div>
                        </div>
                        <div class="ui raised segment" id="fletesContext">
                            <div class="ui active tab">
                                <div class="ui divided items w3-padding-16" id="items" style="min-height: 323px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column w3-padding-64">
                    <div class="ui segments sticky" id="mapa">
                        <div class="ui grey segment w3-center w3-bottombar" style="background-color: #FBFBFB">
                            <div class="ui secondary menu w3-center">
                                <div class="ui icon labeled input">
                                    <div class="ui label">Radio:</div>
                                    <input id="radio" type="text" value="1000">
                                    <i class="inverted circular marker link icon" onclick="dibujarPuntoCerca()"></i>
                                </div>
                            </div>
                        </div>
                        <div id="map" class="w3-card" style="width: 100%; height: 520px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var email = '@User.Claims.ToList()[0].Value';
    var muni = '@User.Claims.ToList()[3].Value';
    var map;
    var source;
    var dispositivos;
    $(document).ready(function () {
        "use strict";
        var raster = new ol.layer.Tile({ source: new ol.source.OSM() });
        source = new ol.source.Vector({ wrapX: false });
        var vector = new ol.layer.Vector({ source: source });

        map = new ol.Map({
            layers: [raster, vector],
            target: 'map',
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [-56.22540901390569, -34.86341907811338],
                zoom: 10
            })
        });
        cargarDispositivos();

        map.on("click", function (e) {
            var feature = map.forEachFeatureAtPixel(e.pixel,
                function (feature) {
                    return feature;
                });
            if (feature) {
                for (var dis of dispositivos) {
                    if (String(dis.ubicacion) === String(feature.getGeometry().getCoordinates())) {
                        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/datos/" + dis.Id, function (response) { 
                            //alert(response);
                        });
                        console.log("ID dispositivo: " + dis.Id);
                    }
                }
            }
        });
    });

    function cargarDispositivos() {
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/muni/" + muni, function (response) {
            dispositivos = response;
            for (var res in response) { 
                var point_feature = new ol.Feature({});
                var point_geom = new ol.geom.Point(response[res].ubicacion);
                point_feature.setGeometry(point_geom);
                var vectorLayer = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [point_feature]
                    }),
                    style: new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 7,
                            fill: new ol.style.Fill({
                                color: 'orange'
                            })
                        })
                    })
                });
                map.addLayer(vectorLayer);
            }
        });
    }
</script>