<script>
    $(document).ready(function () {
        $('.ui.sidebar')
            //.sidebar('attach events', '.toc.item')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('setting', 'dimPage', false);
        $('#menuSidebar').sidebar('attach events', '.toc.item');
        $('.ui.dropdown').dropdown('setting', 'allowAdditions', true);
    });
</script>
<div class="ui sidebar vertical left inverted menu w3-cerebro-blue" id="menuSidebar">
    <div class="w3-center w3-margin-top"><img src="~/images/cerebro.png" style="height: 30px" class="w3-image"></div>
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <a href="/inicio/inicio"><i class="home big icon circular link w3-text-white"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">@User.Claims.ToList()[0].Value</h3>
        }
        <a class="ui toc item header small" href="/Chat/Chat">Chat</a>
        <a class="ui toc item header small" href="/Agrupacion/Agrupacion">Agrupaciones</a>
        <a class="ui toc item header small" href="/Simulador/Simulador">Simulador</a>
        <a class="ui toc item header small" href="/Reporte/Reporte">Reportes</a>
    </div>
</div>
<div class="ui sidebar wide vertical right inverted menu" id="infoDispositivo">
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <i class="info big icon circular inverted active"></i>
        <h3 id="nomDis" class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px"></h3>
        <h4 id="fechaHoraDis" class="ui text header inverted"></h4>
        <h4 id="tipoDis" class="ui text header inverted"></h4>
        <div class="ui horizontal header divider small inverted w3-padding">Ultima medici&oacute;n</div>
        <h4 id="contenidoDis" class="ui header text small inverted w3-padding w3-margin"></h4>
        <img id="imgDis" src="" />
    </div>
</div>
<div class="pusher" style="background-image:url(images/ub1610v2.jpg); background-attachment:fixed; background-size:cover">
    <div class="w3-bar w3-card" style="background-color: #FBFBFB">
        <div class="ui menu secondary" style="background-color: #FBFBFB; padding-bottom: 0px">
            <a class="ui toc item left aligned"><i class="sidebar icon"></i></a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="ui item header right aligned">@User.Claims.ToList()[0].Value</h4>
                    <a class="ui item right aligned w3-right" asp-controller="Account" asp-action="Logout"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
            </div>
        </div>
        <div class="w3-center w3-display-topmiddle" style="margin-top: 7px"><img src="~/images/cerebro-logo.png" class="w3-image" style="height: 35px"></div>
        <div class="ui secondary menu w3-light-gray w3-padding">
            <div class="ui breadcrumb item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">@User.Claims.ToList()[3].Value</h4></div>
                }
                <div class="divider"> <strong>/</strong> </div>
                <div class="active section"><h4 class="ui text header w3-text-silver">Inicio</h4></div>
            </div>
        </div>
    </div>
    <div class="ui grid stackable container w3-padding w3-padding-16">
        <div class="row" id="goyete">
            <div class="ui grid stackable container">
                <div class="six wide column w3-padding-64">
                    <div class="ui segments">
                        <div class="ui segment sticky" style="background-color: #FBFBFB; height: 40px">
                            <div class="ui two item menu pointing secondary" style="margin-top: -14px">
                                <a id="disTab" class="active w3-text-cerebro-red item" onclick="disp()">Eventos</a>
                                <a id="susTab" class="item" onclick="suscip()">Suscripciones</a>
                            </div>
                        </div>
                        <div class="ui raised segment" id="fletesContext">
                            <div class="ui active tab">
                                <div class="ui divided items w3-padding-16" id="items" style="min-height: 323px; display: none">
                                </div>
                                <div class="ui divided items w3-padding-16" id="itemsDiv" style="min-height: 323px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column w3-padding-64">
                    <div class="ui segments sticky" id="mapa">
                        <div class="ui grey segment w3-center w3-bottombar" style="background-color: #FBFBFB">
                            <i class="inverted circular marker link icon" onclick="addSuscripcion()"></i>
                            <button class="ui button w3-cerebro-blue w3-right" onclick="guardarZona()">Guardar</button>
                        </div>
                        <div id="map" class="w3-card" style="width: 100%; height: 520px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var email = '@User.Claims.ToList()[0].Value';
    var muni = '@User.Claims.ToList()[3].Value';
    var map;
    var source;
    var draw;
    var fea;
    var geom = "";
    var dispositivos;
    var zonas;
    var zonaBool = false;
    var vector_layer;
    var arrayFeatures = [];
    var pusher = new Pusher('474881b81d9d92dd2713', {
        encrypted: true
    });

    var disActual;
    $(document).ready(function () {
        "use strict";
        var raster = new ol.layer.Tile({ source: new ol.source.OSM() });
        source = new ol.source.Vector({ wrapX: false });
        var vector = new ol.layer.Vector({ source: source });

        map = new ol.Map({
            layers: [raster, vector],
            target: 'map',
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [-56.22540901390569, -34.86341907811338],
                zoom: 10
            })
        });

        var features = new ol.Collection();
        draw = new ol.interaction.Draw({
            source: source,
            features: features,
            type: "Polygon"
        });
        var modifyInteraction = new ol.interaction.Modify({ features: features });

        draw.on('drawend', function (evt) {
            fea = evt.feature;
            geom = evt.feature.getGeometry().getCoordinates();
            map.removeInteraction(draw);
            map.addInteraction(modifyInteraction);
        }, this);

        modifyInteraction.on('modifyend', function (evt) {
            geom = fea.getGeometry().getCoordinates();
            //alert(geom);
        });

        cargarDispositivos();
        cargarZona();

        var channel = pusher.subscribe("datos-dispositivos");

        map.on("click", function (e) {
            var feature = map.forEachFeatureAtPixel(e.pixel,
                function (feature) {
                    return feature;
                });
            if (feature) {
                document.getElementById("nomDis").innerHTML = "";
                document.getElementById("fechaHoraDis").innerHTML = "";
                document.getElementById("tipoDis").innerHTML = "";
                document.getElementById("contenidoDis").innerHTML = "";
                document.getElementById("imgDis").src = "";
                for (var dis of dispositivos) {
                    if (String(dis.ubicacion) === String(feature.getGeometry().getCoordinates())) {
                        var nombre = dis.nombre;
                        var idP = dis.Id;
                        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/datos/" + dis.Id, function (response) {
                            if (response != null) {

                                document.getElementById("nomDis").innerHTML = nombre;

                                var dateTime = response.datetime.split("T");
                                var fecha = dateTime[0].split("-")[0] + "/" + dateTime[0].split("-")[1] + "/" + dateTime[0].split("-")[2];
                                var hora = dateTime[1].split(":")[0] + ":" + dateTime[1].split(":")[1];
                                document.getElementById("fechaHoraDis").innerHTML = fecha + " - " + hora;
                                document.getElementById("tipoDis").innerHTML = response.tipoDeDato;
                                if (String(response.tipoDeDato) === "Texto" || String(response.tipoDeDato) === "Numerico") {
                                    document.getElementById("contenidoDis").innerHTML = response.medida;
                                } else if (String(response.tipoDeDato) === "Imagen") {
                                    var settings = {
                                        "async": true,
                                        "crossDomain": true,
                                        "url": "https://www.cerebro-servicelayer.com/api/dispositivos/img/" + response.imagenId,
                                        "method": "GET",
                                        "headers": {
                                            "cache-control": "no-cache"
                                        }
                                    }

                                    $.ajax(settings).done(function (data) {
                                        document.getElementById("imgDis").src = "data:image/png;base64," + data;
                                    });
                                }
                                channel.bind('dato-nuevo', function (data) {
                                    if (data.dispositivoId === idP) {
                                        if (data.tipoDeDato === "Numerico") {
                                            var dateTime = data.datetime.split("T");
                                            var fecha = dateTime[0].split("-")[0] + "/" + dateTime[0].split("-")[1] + "/" + dateTime[0].split("-")[2];
                                            var hora = dateTime[1].split(":")[0] + ":" + dateTime[1].split(":")[1];
                                            document.getElementById("fechaHoraDis").innerHTML = fecha + " - " + hora;
                                            document.getElementById("contenidoDis").innerHTML = data.medida;
                                        } else {
                                            var dateTime = data.datetime.split("T");
                                            var fecha = dateTime[0].split("-")[0] + "/" + dateTime[0].split("-")[1] + "/" + dateTime[0].split("-")[2];
                                            var hora = dateTime[1].split(":")[0] + ":" + dateTime[1].split(":")[1];
                                            document.getElementById("fechaHoraDis").innerHTML = fecha + " - " + hora;
                                            var settings = {
                                                "async": true,
                                                "crossDomain": true,
                                                "url": "https://www.cerebro-servicelayer.com/api/dispositivos/img/" + data.imagenId,
                                                "method": "GET",
                                                "headers": {
                                                    "cache-control": "no-cache"
                                                }
                                            }

                                            $.ajax(settings).done(function (data2) {
                                                document.getElementById("imgDis").src = "data:image/png;base64," + data2;
                                            });
                                        }
                                    }
                                });
                                mostrarInfoDispositivo();

                            } else {
                                console.log("null " + idP);
                            }
                        });
                    }
                }
            }
        });

        channel.bind('evento-nuevo', function (data) {
            var count = 0;
            $.each(data.geom, function (index, dt) {
                $.each(dispositivos, function (index, disp) {
                    if (disp.ubicacion.toString() === dt.toString()) {
                        count++;
                    }
                });
            });

            var b = false;

            $.each(zonas, function (index, zona) {
                var tmp = zona.ubicacion.toString().split(",");
                var array = [];

                var j = 0;
                for (var i = 0; i < (tmp.length / 2); i++) {
                    var arraryTmp = [];
                    arraryTmp[0] = tmp[j]
                    arraryTmp[1] = tmp[j + 1];
                    array[i] = arraryTmp;
                    j++;
                    j++;
                }
                var polygon = new ol.geom.Polygon([array]);
                var featurePolygon = new ol.Feature(polygon);

                var countPoint = 0;
                $.each(data.geom, function (index, dt2) {

                    var point = new ol.geom.Point(dt2);
                    var featurePoint = new ol.Feature(point);

                    var format = new ol.format.GeoJSON();
                    var geojsonReader = new jsts.io.GeoJSONReader();

                    var polygon1Jsts = geojsonReader.read(
                        format.writeFeatureObject(featurePolygon)).geometry;
                    var polygon2Jsts = geojsonReader.read(
                        format.writeFeatureObject(featurePoint)).geometry;

                    if (polygon1Jsts.contains(polygon2Jsts)) {
                        countPoint++;
                    }
                });
                if (countPoint == data.geom.length) {
                    b = true;
                }
                countPoint = 0;
            });

            if (count == data.geom.length && b){
                var item = document.createElement("div");
                item.className = "item";
                var a = document.createElement("a");
                a.className = "ui header text small link";
                var dateTime = data.fechaHora.split("T");
                var fecha = dateTime[0].split("-")[0] + "/" + dateTime[0].split("-")[1] + "/" + dateTime[0].split("-")[2];
                var hora = dateTime[1].split(":")[0] + ":" + dateTime[1].split(":")[1];
                a.innerHTML = data.nombre + " (" + fecha + " - " + hora + ")";
                a.addEventListener("click", function () {
                    $.each(arrayFeatures, function (index, feat) {
                        var normalStyle = new ol.style.Style({
                            image: new ol.style.Circle({
                                radius: 5,
                                fill: new ol.style.Fill({
                                    color: 'orange'
                                })
                            })
                        });
                        feat.setStyle(normalStyle);
                    });

                    $.each(data.geom, function (index, dt) {
                        var feature = map.forEachFeatureAtPixel(map.getPixelFromCoordinate(dt),
                            function (feature) {
                                return feature;
                            });
                        if (feature) {
                            var eventoStyle = new ol.style.Style({
                                image: new ol.style.Circle({
                                    radius: 5,
                                    fill: new ol.style.Fill({
                                        color: 'red'
                                    })
                                })
                            });
                            feature.setStyle(eventoStyle);
                        }
                    });
                });
                item.appendChild(a);
                document.getElementById("itemsDiv").appendChild(item);
            }
            //document.getElementById("itemsDiv").insertBefore(item, document.getElementById("itemsDiv"));
        });
    });

    function cargarDispositivos() {
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/muniUsu?muni=" + muni + "&email=" + email, function (response) {
            dispositivos = response;
            for (var res in response) {
                var point_feature = new ol.Feature({});
                var point_geom = new ol.geom.Point(response[res].ubicacion);
                point_feature.setGeometry(point_geom);
                var vectorLayer = new ol.layer.Vector({
                    source: new ol.source.Vector({
                        features: [point_feature]
                    }),
                    style: new ol.style.Style({
                        image: new ol.style.Circle({
                            radius: 5,
                            fill: new ol.style.Fill({
                                color: 'orange'
                            })
                        })
                    })
                });

                arrayFeatures[arrayFeatures.length] = vectorLayer.getSource().getFeatures()[0];
                map.addLayer(vectorLayer);
            }
        });
    }

    function addSuscripcion() {
        source.clear();
        map.addInteraction(draw);
    }

    function guardarZona() {
        $.post("https://www.cerebro-serviceLayer.com/api/usuarios/zonas?email="+email+"&muni="+muni+"&ubicacion="+geom, function (res) {
            console.log("Zona guardada");
            cargarZona();
            source.clear();
        });
    }

    function cargarZona() {
        $.get("https://www.cerebro-serviceLayer.com/api/usuarios/zonas?email=" + email + "&muni=" + muni, function (response) {
            if (response !== undefined) {
                while (document.getElementById("items").hasChildNodes()) {
                    document.getElementById("items").removeChild(document.getElementById("items").lastChild);
                }
                var num = 0;
                zonas = response;
                $.each(response, function (index, zona) {
                    var item = document.createElement("div");
                    item.className = "item";
                    var a = document.createElement("a");
                    a.className = "ui header text small link";
                    a.innerHTML = "Zona " + num;
                    num++;
                    var tmp1 = zona.ubicacion;
                    a.addEventListener("click", function () {
                        source.clear();
                        if (zonaBool == true) {
                            map.removeLayer(vector_layer);
                        }
                        tmp = tmp1.toString().split(",");
                        var array = [];

                        var j = 0;
                        for (var i = 0; i < (tmp.length /2); i++){
                            var arraryTmp = [];
                            arraryTmp[0] = tmp[j]
                            arraryTmp[1] = tmp[j + 1];
                            array[i] = arraryTmp;
                            j++;
                            j++;
                        }
                        var polygon = new ol.geom.Polygon([array]);
                        var feature = new ol.Feature(polygon);
                        var vectorSource = new ol.source.Vector();
                        vectorSource.addFeature(feature);

                        vector_layer = new ol.layer.Vector({
                            source: vectorSource
                        });
                        map.addLayer(vector_layer);
                        zonaBool = true;
                    });
                    item.appendChild(a);
                    document.getElementById("items").appendChild(item);
                });
            }
        });
    }

    function mostrarInfoDispositivo() {
        $('#infoDispositivo').sidebar('show');
    }
    function ocultarInfoDispositivo() {
        $('#infoDispositivo').sidebar('hide');
    }

    function suscip() {
        $('#susTab').addClass("active w3-text-cerebro-red");
        $('#disTab').removeClass("active w3-text-cerebro-red");
        document.getElementById("itemsDiv").style.display = "none";
        document.getElementById("items").style.display = "block";
        source.clear();
        if (zonaBool == true) {
            map.removeLayer(vector_layer);
        }
        zonaBool == false;
    }
    function disp() {
        $('#disTab').addClass("active w3-text-cerebro-red");
        $('#susTab').removeClass("active w3-text-cerebro-red");
        document.getElementById("itemsDiv").style.display = "block";
        document.getElementById("items").style.display = "none";
        source.clear();
        if (zonaBool == true) {
            map.removeLayer(vector_layer);
        }
        zonaBool == false;
    }

</script>
