<script>
    $(document).ready(function () {
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('setting', 'dimPage', false);
        $('.ui.dropdown').dropdown('setting', 'allowAdditions', true);
    });
</script>
<div class="ui sidebar vertical left inverted menu w3-cerebro-blue">
    <div class="w3-center w3-margin-top"><img src="~/images/cerebro.png" style="height: 30px" class="w3-image"></div>
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <a href="/inicio/inicio"><i class="home big icon circular link"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">@User.Claims.ToList()[0].Value</h3>
        }
        else
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">Usuario</h3>
        }
        <a class="ui toc item header small active" href="/Chat/Chat">Chat</a>
        <a class="ui toc item header small" href="/Agrupacion/Agrupacion">Agrupaciones</a>
        <a class="ui toc item header small" href="/Simulador/Simulador">Simulador</a>
        <a class="ui toc item header small">Reportes</a>
    </div>
</div>
<div class="pusher" style="background-image: url(img/ub1610v2.jpg); background-attachment: fixed; background-repeat: no-repeat;background-size: cover">
    <div class="w3-bar w3-card" style="background-color: #FBFBFB">
        <div class="ui menu secondary" style="background-color: #FBFBFB; padding-bottom: 0px">
            <a class="ui toc item left aligned"><i class="sidebar icon"></i></a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="ui item header right aligned" id="email">@User.Claims.ToList()[0].Value</h4>
                    <a class="ui item right aligned w3-right" asp-controller="Account" asp-action="Logout"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
                else
                {
                    <h4 class="ui item header right aligned">Usuario</h4>
                    <a class="ui item right aligned w3-right"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
            </div>
        </div>
        <div class="w3-center w3-display-topmiddle" style="margin-top: 7px"><img src="~/images/cerebro-logo.png" class="w3-image" style="height: 35px"></div>
        <div class="ui secondary menu w3-light-gray w3-padding">
            <div class="ui breadcrumb item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">@User.Claims.ToList()[3].Value</h4></div>
                }
                else
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">Municipalidad</h4></div>
                }
                <div class="divider"> <strong>/</strong> </div>
                <div class="active section"><h4 class="ui text header w3-text-silver">Chat</h4></div>
            </div>
        </div>
    </div>
    <div class="ui grid stackable container w3-padding w3-padding-16">
        <div class="ui active dimmer" style="display: none" id="dimmer">
            <div class="ui text loader" id="loading" style="display: none">Por favor espere...</div>
            <div class="w3-display-middle" id="exito" style="display: none">
                <img src="~/images/success.svg" style="height: 45px"><br>
                <h4 style="color: white">La Solicitud ha sido aceptada con exito!</h4>
                <button class="ui secondary button green w3-center" onclick="ocultarMensajes()">Aceptar</button>
            </div>
            <div class="w3-display-middle" id="error" style="display: none">
                <img src="~/images/error.svg" style="height: 45px"><br>
                <h4 style="color: white">Ha ocurrido un error, y no se podido aceptar la solicitud.<br>Por favor vuelve a intentar</h4>
                <button class="ui secondary button green w3-center" onclick="ocultarMensajes()">Aceptar</button>
            </div>
            <div class="w3-display-middle" id="warning" style="display: none">
                <img src="~/images/warning.svg" style="height: 45px"><br>
                <h4 style="color: white" id="precioAceptar"></h4>
                <button class="ui inverted red button w3-center" onclick="ocultarMensajes()">Salir</button>
                <button class="ui inverted green button w3-center" onclick="aceptarSolicitud()">Confirmar</button>
            </div>
        </div>
        <div class="row" id="goyete">
            <div class="ui grid stackable container">
                <div class="five wide column w3-padding-64">
                    <div class="ui segments">
                        <div class="ui segment sticky w3-bottombar" style="background-color: #FBFBFB">
                            <div class="ui secondary menu">
                                <div class="ui icon input" style="width: 100%;">
                                    <input id="tituloFiltro" placeholder="Buscar agrupaciones..." type="text">
                                    <i class="search circular inverted link icon"></i>
                                </div>
                            </div>
                        </div>
                        <div class="ui raised segment">
                            <div class="ui active tab">
                                <div class="ui divided items w3-padding-16" id="items" style="min-height: 323px">
                                    <table id="tAgru" class="ui compact celled grey table">
                                        <tbody id="tbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eleven wide column w3-padding-64">
                    <div class="ui segments sticky" id="mapa">
                        <div class="ui grey segment w3-center" style="background-color: #FBFBFB">
                            <h3 class="ui horizontal divider text header w3-padding small w3-text-cerebro-red">Agrupacion actual</h3>
                        </div>
                        <div id="chat" class="ui grey segment" style="background-image: url(img/gplay.png); height: 500px; max-height: 500px;overflow-y: auto">
                        </div>
                        <div class="ui segment secondary" style="background-color: #F3F3F3">
                            <div class="ui secondary menu w3-center">
                                <div class="ui icon input" style="width: 100%">
                                    <input id="mensaje" type="text" placeholder="Escriba aqu&iacute; su mensaje, precione enter para enviar" class="w3-border-silver">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var agrupacion = "";
    var email = '@User.Claims.ToList()[0].Value';
    var muni = '@User.Claims.ToList()[3].Value';
    $(document).ready(function () {
        "use strict";
        cargarAgru();
    });

    function cargarAgru() {
        var body = document.getElementById("tbody");
        $.get("https://www.cerebro-serviceLayer.com/api/agrupaciones/byUsuario?usuario_email=" + email, function (response) {
            for (var res in response) {
                var row = document.createElement("tr");
                var agru = document.createElement("td");
                agru.className = "collapsing";
                agru.innerHTML = response[res];
                row.appendChild(agru);
                body.appendChild(row);
            }

            var table = document.getElementById("tAgru");
            if (table != null) {
                for (var i = 0; i < table.rows.length; i++) {
                    for (var j = 0; j < table.rows[i].cells.length; j++)
                        table.rows[i].cells[j].onclick = function () {
                            tableText(this);
                        };
                }
            }

        });
    }

    function tableText(tableCell) {
        agrupacion = muni + "-" + tableCell.innerHTML;
        document.getElementById("chat").innerHTML = "";

        var pusher = new Pusher('5b358aae693e596e8b06', { encrypted: true, cluster: "us2" });
        var channel = pusher.subscribe(agrupacion);
        channel.bind('mensaje-nuevo', function (data) {
            var e = JSON.stringify(data);
            var x = JSON.parse(e);
            if (x.email !== email) {
                var ele1 = document.createElement("div");
                ele1.className = 'w3-row w3-margin-top w3-margin-bottom';
                var ele2 = document.createElement("div");
                ele2.className = 'w3-half w3-white w3-round w3-card';
                ele1.appendChild(ele2);
                var ele3 = document.createElement("div");
                ele3.className = 'w3-row w3-small w3-margin-left';
                var span1 = document.createElement("span");
                span1.className = "w3-text-cerebro-red";
                span1.innerHTML = x.autor;
                ele3.appendChild(span1);
                var span2 = document.createElement("span");
                span2.className = "w3-right w3-margin-right w3-text-grey";
                var fecha = x.datetime.toString().split('T', 2);
                var fecha2 = fecha[1].split(".", 2);
                span2.innerHTML = fecha2[0];
                ele3.appendChild(span2);
                ele2.appendChild(ele3);
                var ele4 = document.createElement("div");
                ele4.style.marginBottom = '3px';
                ele4.className = 'w3-row w3-text-dark-gray w3-margin-left w3-margin-right';
                ele4.textContent = x.mensaje;
                ele2.appendChild(ele4);
                document.getElementById("chat").appendChild(ele1);
            } else {
                var ele1 = document.createElement("div");
                ele1.className = 'w3-row w3-margin-top w3-margin-bottom';
                var ele2 = document.createElement("div");
                ele2.className = 'w3-half w3-right w3-pale-green w3-round w3-card';
                ele1.appendChild(ele2);
                var ele3 = document.createElement("div");
                ele3.className = 'w3-row w3-small w3-margin-left';
                var span1 = document.createElement("span");
                span1.className = "w3-text-cerebro-red";
                span1.innerHTML = x.autor;
                ele3.appendChild(span1);
                var span2 = document.createElement("span");
                span2.className = "w3-right w3-margin-right w3-text-grey";
                var fecha = x.datetime.toString().split('T', 2);
                var fecha2 = fecha[1].split(".", 2);
                span2.innerHTML = fecha2[0];
                ele3.appendChild(span2);
                ele2.appendChild(ele3);
                var ele4 = document.createElement("div");
                ele4.style.marginBottom = '3px';
                ele4.className = 'w3-row w3-text-dark-gray w3-margin-left w3-margin-right';
                ele4.textContent = x.mensaje;
                ele2.appendChild(ele4);
                document.getElementById("chat").appendChild(ele1);
            }
        });
    }

    $("#mensaje").on('keyup', function (e) {
        if (e.keyCode == 13) {
            if (agrupacion !== ""){
                $.post("https://www.cerebro-serviceLayer.com/api/chats?agrupacion="+ agrupacion +"&autor=" + '@User.Claims.ToList()[1].Value' + "&mensaje=" + document.getElementById("mensaje").value + "&email=" + email, function (response) {
                    document.getElementById("mensaje").value = "";
                });
            }
        }
    });
</script>
