<script>
    var muni = '@User.Claims.ToList()[3].Value';
    var dispositivos;
    $(document).ready(function () {
        $('.ui.sidebar')
            .sidebar('attach events', '.toc.item')
            .sidebar('setting', 'transition', 'overlay')
            .sidebar('setting', 'dimPage', false);
        $('.ui.dropdown').dropdown();
        $('#cosoChat').popup({
            popup: $('#popup'),
            on: 'click'
        });
        getDispositivosByMunicipalidad();
        getAgrupacionesByUsuario();
        cargarPrivilegios();
        cargarZona();
    });
</script>
<div class="ui sidebar vertical left inverted menu w3-cerebro-blue">
    <div class="w3-center w3-margin-top"><img src="~/images/cerebro.png" style="height: 30px" class="w3-image"></div>
    <div class="ui horizontal divider"></div>
    <div class="w3-center">
        <a href="/inicio/inicio"><i class="home big icon circular link w3-text-white"></i></a>
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="ui horizontal divider w3-padding header small inverted" style="margin-top: 5px">@User.Claims.ToList()[0].Value</h3>
        }
        <a class="ui toc item header small" href="/Agrupacion/Agrupacion">Agrupaciones</a>
        <a class="ui toc item header small active" href="/Simulador/Simulador">Simulador</a>
        <a class="ui toc item header small" href="/Reporte/Reporte">Reportes</a>
    </div>
</div>
<div class="pusher" style="background-image:url(images/ub1610v2.jpg); background-attachment:fixed; background-size:cover">
    <div class="w3-bar w3-card" style="background-color: #FBFBFB">
        <div class="ui menu secondary" style="background-color: #FBFBFB; padding-bottom: 0px">
            <a class="ui toc item left aligned"><i class="sidebar icon"></i></a>
            <div class="right menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <h4 class="ui item header right aligned">@User.Claims.ToList()[0].Value</h4>
                    <a class="ui item right aligned w3-right" asp-controller="Account" asp-action="Logout"><i class="sign out icon w3-text-cerebro-red"></i></a>
                }
            </div>
        </div>
        <div class="w3-center w3-display-topmiddle" style="margin-top: 7px"><img src="~/images/cerebro-logo.png" class="w3-image" style="height: 35px"></div>
        <div class="ui secondary menu w3-light-gray w3-padding">
            <div class="ui breadcrumb item">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="section"><h4 class="ui header w3-text-cerebro-red">@User.Claims.ToList()[3].Value</h4></div>
                }
                <div class="divider"> <strong>/</strong> </div>
                <div class="active section"><h4 class="ui text header w3-text-silver">Simulador de dispositivos</h4></div>
            </div>
            <div class="right menu"><button class="circular ui icon button" id="cosoChat"><i class="comments icon large w3-text-cerebro-red"></i></button></div>
        </div>
    </div>
    <div class="ui list" id="listaNotificaciones" style="width: 400px; display: inline-block; position: fixed; right: 0px; z-index: 999">
    </div>
    <div class="ui stackable text container w3-padding w3-padding-32">
        <div class="ui segments raised popup bottom right pointing transition hidden" id="popup" style="max-width: 400px; width: 370px; padding: 0px">
            <div class="ui grey segment" style="padding: 0px">
                <select class="ui basic fluid dropdown" id="listAgrupacionChat" onchange="chatearAgrupacion()">
                    <option value="" selected disabled>Seleccionar agrupaci&oacute;n...</option>
                </select>
            </div>
            <div class="ui grey segment" id="chat" style="height: 400px; background-image: url(images/skulls.png); max-height: 400px; overflow-y: auto">
            </div>
            <div class="ui grey segment secondary">
                <div class="ui icon input" style="width: 100%">
                    <input type="text" id="mensaje" placeholder="Escriba aqu&iacute; su mensaje, precione enter para enviar...">
                </div>
            </div>
        </div>
        <div class="active section">
            <h4 class="ui text header w3-text-silver">Seleccione dispositivo a ingresar: </h4>
            <select class="ui dropdown" id="dispositivosList">
                <option value="" selected disabled>Seleccione dispositivo a agregar...</option>
            </select>
            <button class="ui icon button w3-margin-left" onClick="addDispositivo()"><i class="add icon green"></i></button>
        </div>

        <div class="ui divided items" id="main">

        </div>
    </div>
</div>
<p style="display:none" id="agrActual"></p>
<script>
    var email = '@User.Claims.ToList()[0].Value';
    var zonas;
    var privilegios = [];
    function getDispositivosByMunicipalidad() {
        $.get("https://www.cerebro-serviceLayer.com/api/dispositivos/muni/" + muni, function (data) {
            if (data !== undefined) {
                dispositivos = data;
                while (document.getElementById("dispositivosList").firstChild) {
                    document.getElementById("dispositivosList").removeChild(document.getElementById("dispositivosList").firstChild);
                }
                $.each(data, function (index, dispositivo) {
                    var option = document.createElement("option");
                    option.value = dispositivo.Id;
                    option.innerHTML = dispositivo.nombre;
                    document.getElementById("dispositivosList").appendChild(option);
                });
            }
        });
    }

    function addDispositivo() {
        var id = document.getElementById("dispositivosList").value;
        //console.log(id);
        if (dispositivos !== undefined && id !== undefined) {
            $.each(dispositivos, function (index, x) {
                if (x.Id === id) {
                    $.get("https://www.cerebro-serviceLayer.com/api/tipos/" + x.tipo, function (tipo) {
                        if (tipo !== undefined) {
                            if (tipo.tipo === 0) { //texto
                                newDispositivoTexto(x);
                            } else if (tipo.tipo === 1) { //numerico
                                newDispositivoNumerico(x);
                            } else if (tipo.tipo === 2) { //imagen
                                newDispositivoImagen(x);
                            }
                        }
                    });
                }
            });
        }
    }
    function getAgrupacionesByUsuario() {
        if (email !== ""){
            $.get("https://www.cerebro-serviceLayer.com/api/agrupaciones/byUsuario?usuario_email=" + email, function (response) {
                if (response !== undefined) {
                    while (document.getElementById("listAgrupacionChat").hasChildNodes()) {
                        document.getElementById("listAgrupacionChat").removeChild(document.getElementById("listAgrupacionChat").lastChild);
                    }
                    $.each(response, function (index, agrupacion) {
                        var option = document.createElement("option");
                        option.innerHTML = agrupacion;
                        option.value = agrupacion;
                        document.getElementById("listAgrupacionChat").appendChild(option);
                    });
                    var option2 = document.createElement("option");
                    option2.innerHTML = "Seleccionar agrupaci&oacute;n...";
                    option2.value = "";
                    option2.selected = true;
                    option2.disabled = true;
                    document.getElementById("listAgrupacionChat").appendChild(option2);
                }
            });
        }
    }
    var pusherChat = new Pusher('016fdcbcf95a1344ca6a', { cluster: 'us2', encrypted: true });
    function chatearAgrupacion() {
        var agrupacion = document.getElementById("listAgrupacionChat").value;
        var channelChat = pusherChat.subscribe(muni + "-" + agrupacion);
        while (document.getElementById("chat").hasChildNodes()) {
            document.getElementById("chat").removeChild(document.getElementById("chat").lastChild);
        }
        channelChat.bind('mensaje-nuevo', function (data) {
            var e = JSON.stringify(data);
            var x = JSON.parse(e);
            var fecha = x.datetime.toString().split('T', 2);
            var fecha2 = fecha[1].split(".", 2);
            if (x.email !== email) {
                crearMensajeReceptor(x.autor, fecha2[0], x.mensaje);
            } else {
                crearMensajeEmisor(fecha2[0], x.mensaje);
            }
        });
    }
    function crearMensajeEmisor(fecha, mensaje) {
        var ele1 = document.createElement("div");
        ele1.className = 'w3-row w3-left w3-margin-bottom w3-right';
        ele1.style.width = "85%";
        var ele2 = document.createElement("div");
        ele2.className = 'ui right pointing label w3-right w3-pale-green fluid raised segment';
        ele2.style.padding = "7px";
        ele1.appendChild(ele2);
        var ele3 = document.createElement("div");
        ele3.className = 'w3-row w3-small';
        var span2 = document.createElement("span");
        span2.className = "w3-right w3-text-grey";
        span2.innerHTML = fecha;
        ele3.appendChild(span2);
        ele2.appendChild(ele3);
        var ele4 = document.createElement("div");
        ele4.className = 'w3-row ui header text small';
        ele4.style.marginBottom = "3px";
        ele4.style.marginTop = "7px";
        ele4.textContent = mensaje;
        ele2.appendChild(ele4);
        document.getElementById("chat").appendChild(ele1);
    }
    function crearMensajeReceptor(autor, fecha, mensaje) {
        var ele1 = document.createElement("div");
        ele1.className = 'w3-row w3-left w3-margin-bottom w3-left';
        ele1.style.width = "85%";
        var ele2 = document.createElement("div");
        ele2.className = 'ui left pointing label w3-left fluid w3-white raised segment';
        ele2.style.padding = "7px";
        ele1.appendChild(ele2);
        var ele3 = document.createElement("div");
        ele3.className = 'w3-row w3-small';
        var span1 = document.createElement("span");
        span1.className = "w3-text-cerebro-red ui header text small";
        span1.innerHTML = autor;
        ele3.appendChild(span1);
        var span2 = document.createElement("span");
        span2.className = "w3-right w3-text-grey";
        span2.innerHTML = fecha;
        ele3.appendChild(span2);
        ele2.appendChild(ele3);
        var ele4 = document.createElement("div");
        ele4.className = 'w3-row';
        ele4.style.marginBottom = "3px";
        ele4.style.marginTop = "7px";
        ele4.textContent = mensaje;
        ele2.appendChild(ele4);
        document.getElementById("chat").appendChild(ele1);
    }
    $("#mensaje").on('keyup', function (e) {
        if (e.keyCode == 13) {
            var agrupacion = document.getElementById("listAgrupacionChat").value;
            if (agrupacion !== ""){
                $.post("https://www.cerebro-serviceLayer.com/api/chats?agrupacion=" + muni + "-" + agrupacion +"&autor=" + '@User.Claims.ToList()[1].Value' + "&mensaje=" + document.getElementById("mensaje").value + "&email=" + email, function (response) {
                    document.getElementById("mensaje").value = "";
                });
            }
        }
    });
    function cargarPrivilegios() {
        $.get("https://www.cerebro-servicelayer.com/api/usuarios/privilegiosUsu?email=" + email + "&muni=" + muni, function (res) {
            for (var i = 0; i < res.length; i++) {
                privilegios[privilegios.length] = res[i].Privilegio_nombre;
            }
        });
    }

    function cargarZona() {
        $.get("https://www.cerebro-serviceLayer.com/api/usuarios/zonas?email=" + email + "&muni=" + muni, function (response) {
            if (response !== undefined) {
                zonas = response;
            }
        });
    }
    var pusher = new Pusher('474881b81d9d92dd2713', { encrypted: true });
    var channel = pusher.subscribe("datos-dispositivos");
    channel.bind('evento-nuevo', function (data) {
        var count = 0;
        $.each(data.privilegios, function (index, priv) {
            $.each(privilegios, function (index, pr) {
                if (pr == priv) {
                    count++;
                }
            });
        });
        if (count == data.privilegios.length) {
            var b = false;
            $.each(zonas, function (index, zona) {
                var tmp = zona.ubicacion.toString().split(",");
                var array = [];
                var j = 0;
                for (var i = 0; i < (tmp.length / 2); i++) {
                    var arraryTmp = [];
                    arraryTmp[0] = tmp[j]
                    arraryTmp[1] = tmp[j + 1];
                    array[i] = arraryTmp;
                    j++;
                    j++;
                }
                var polygon = new ol.geom.Polygon([array]);
                var featurePolygon = new ol.Feature(polygon);
                var countPoint = 0;
                $.each(data.geom, function (index, dt2) {
                    var point = new ol.geom.Point(dt2);
                    var featurePoint = new ol.Feature(point);
                    var format = new ol.format.GeoJSON();
                    var geojsonReader = new jsts.io.GeoJSONReader();
                    var polygon1Jsts = geojsonReader.read(
                        format.writeFeatureObject(featurePolygon)).geometry;
                    var polygon2Jsts = geojsonReader.read(
                        format.writeFeatureObject(featurePoint)).geometry;
                    if (polygon1Jsts.contains(polygon2Jsts)) {
                        countPoint++;
                    }
                });
                if (countPoint == data.geom.length) {
                    b = true;
                }
                countPoint = 0;
            });
            if (b) {
                var item = document.createElement("div");
                item.className = "item";
                var message = document.createElement("div");
                message.className = "ui icon message info w3-animate-right";
                var i1 = document.createElement("i");
                i1.className = "info icon left aligned w3-left";
                message.appendChild(i1);
                var i2 = document.createElement("i");
                i2.className = "close icon";
                message.appendChild(i2);
                i2.addEventListener("click", function () {
                    document.getElementById("listaNotificaciones").removeChild(item);
                });
                var content = document.createElement("div");
                content.className = "content";
                var h3 = document.createElement("h3");
                h3.className = "ui header w3-margin-right";
                h3.style.marginTop = "4px";
                h3.innerHTML = "Se ha registrado el evento: ";
                var span = document.createElement("span");
                span.className = "w3-text-cerebro-red";
                span.innerHTML = data.nombre;
                h3.appendChild(span);
                var p = document.createElement("p");
                p.className = "ui sub header large";
                var dateTime = data.fechaHora.split("T");
                var hora = dateTime[1].split(":")[0] + ":" + dateTime[1].split(":")[1];
                p.innerHTML = hora;
                content.appendChild(h3);
                content.appendChild(p);
                message.appendChild(content);
                item.appendChild(message);
                document.getElementById("listaNotificaciones").insertBefore(item, document.getElementById("listaNotificaciones").firstChild);
            }
        }
    });
</script>